In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import pingouin as pg
import ppscore as pps
import statsmodels.api as sm
import matplotlib.pyplot as plt
import feature_engine
from datetime import timedelta
from datetime import datetime
from sklearn.impute import SimpleImputer
from statsmodels.tsa.holtwinters import SimpleExpSmoothing
from statsmodels.tsa.arima_model import ARIMA
from statsmodels.tsa.statespace.sarimax import SARIMAX
import sklearn
from sklearn.cluster import KMeans
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectFromModel
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.decomposition import PCA
from feature_engine.imputation import MeanMedianImputer
import math
import joblib
import pickle

In [2]:
excel_file_path = 'budgetusd.xlsx'
sheet_name = "F&B Expenses"
df = pd.read_excel(excel_file_path, sheet_name=sheet_name)
# Load the Excel file into a pandas DataFrame

In [5]:
# Convert 'Date' column to datetime
df['Date'] = pd.to_datetime(df['Date'])

# Set 'Date' as the index
df.set_index('Date', inplace=True)

In [6]:
df

             F&B Revenue  F&B Expenses
Date
2022-01-01  11744.194444   5247.944444
2022-02-01   9433.333333   5794.638889
2022-03-01   8833.083333   4194.444444
2022-04-01  18834.583333   7372.138889
2022-05-01   9258.350000   3003.001488
2022-06-01   4703.320000   1722.222222
2022-07-01  10576.649167   3995.787500
2022-08-01   8996.671750   3067.437722
2022-09-01   9158.684444   3947.025228
2022-10-01   6615.247606   2060.161107
2022-11-01   9459.899444   3896.055090
2022-12-01  13662.951111   6203.322874
2023-01-01  16288.453889   6396.799722
2023-02-01  10187.727061   4136.106944
2023-03-01  13240.710251   5017.660556
2023-04-01  16971.347986   7282.230583
2023-05-01  12621.973611   4708.287892
2023-06-01  10544.807500   4511.055657
2023-07-01  13725.585278   5402.806864
2023-08-01  11000.000000   4290.000000
2023-09-01   9799.792356   3821.919019
2023-10-01   7078.314939   2760.542826
2023-11-01  10405.889389   4058.296862
2023-12-01  15029.246222   5861.406027
2024-01-01  16695.665236   6511.309442
2024-02-01  10501.195586   4095.466279
2024-03-01  12711.081841   4957.321918
2024-04-01  16372.359234   6385.220101
2024-05-01  10097.578889   3938.055767
2024-06-01   6489.112308   2530.753800
2024-07-01  11764.787381   4588.267079
2024-08-01  16500.000000   6435.000000
2024-09-01   9799.792356   3821.919019
2024-10-01   8493.977926   3312.651391
2024-11-01  10405.889389   4058.296862
2024-12-01  14145.172915   5516.617437
2025-01-01  17306.482257   6749.528080
2025-02-01  10971.398374   4278.845366
2025-03-01  13240.710251   5163.876998
2025-04-01  16971.347986   6618.825715
2025-05-01  12621.973611   4922.569708
2025-06-01  10544.807500   4112.474925
2025-07-01  13725.585278   5352.978258
2025-08-01  11000.000000   4290.000000
2025-09-01   9799.792356   3821.919019
2025-10-01   8493.977926   3312.651391
2025-11-01  10405.889389   4058.296862
2025-12-01  15029.246222   5861.406027

In [7]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

# Assuming you have a DataFrame called 'df' with your data
X = df[['F&B Revenue']]  # Independent variable
y = df['F&B Expenses']    # Target variable

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

# Create and train a linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse}")
print(f"R-squared: {r2}")

# You can use the 'model' to make predictions on new data

Mean Squared Error: 104361.59339193275
R-squared: 0.8312130299858724